<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appEvento</title>
    <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #FDF5E6;
    }

    .navbar {
      background-color: #BC8F8F	;
      padding: 1px;
      color: black;
      text-align: center;
    }

    .content {
      padding: 10px;
      min-height: 500px;
    }

    .footer {
      background-color: #BC8F8F;
      color: black;
      text-align: center;
      padding: 15px;
    }
  </style>
</head>
<body>

<div class="navbar">
    <h1>index</h1>
</div>

<div class="content">
    <p>Este é o corpo da página</p>
</div>

<div class="footer">
    <p>Rodapé</p>
</div>

</body>
</html>
