<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style type="text/css">
            .rgba {
                color: #000; /** fix para navegadores antigos **/
                color: rgba(0, 0, 0, 0.1);
                border: 1px solid #FF1493;
            }
            .transparent {
                color: transparent;
                border: 1px solid #00008B;
            }
            .opacity {
                opacity: 0.1;
                border: 1px solid #FF1493;
            }
        </style>
</head>
<body>
<h1 class="rgba">Teste com rgba</h1>
<h2 class="transparent">Teste com transparent</h2>
<p class="opacity">Teste com opacity</p>
</body>
</html>